body {
  background-image: linear-gradient(to right, #28a745, white, grey) !important;
  background-size: cover;
  background-attachment: fixed;
}

h1.unifont {
  font-size: 4vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  h1.unifont {
    font-size: 3vw;
  }
}

/* the semester card */

div.semester {
  border-radius: 10px;
}

h1.number {
  color: teal;
  background-color: thistle;
  padding: 30px;
  font-size: 100px;
  border-radius: 10px;
  border: 5px solid white;
}

/* student details styling */

td.details {
  font-size: 20px;
  background-color: #d2f0dc;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 5px solid lightseagreen;
}

/* footer stying */

footer {
  background-image: linear-gradient(to right, burlywood, darkkhaki, grey, gainsboro);
}

div.footer {
  background-color: rgba(70, 100, 70, 0.5);
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

div.form {
  background-color: rgba(50, 50, 50, 0.5) !important;
}

img.abj {
  border: 10px solid transparent;
  background-color: white;
}

/* remove link decoration */

a,
a.f-link,
a.t-link,
a.i-link {
  text-decoration: none !important;
  color: white !important;
}

a.f-link:hover {
  color: #007bff !important;
}

a.t-link:hover {
  color: dodgerblue !important;
}

a.i-link:hover {
  color: orangered !important;
}

/* stying the form */

/* .formg {
    border: 2px solid #28a745;
    border-radius: 5px;
    background-color: #28a745;
  } */

input[type=email]:focus,
input.form-control1:focus,
input.form-control:focus {
  border: 1px !important;
  border-color: #0afa96;
  color: white !important;
  box-shadow: none !important;
  background-color: rgba(0, 250, 200, 0.1) !important;
}

.body {
  background-image: url(/images/uniabuja.jpg?59f98ba7a154cf37645d01de4cb6ea1e) !important;
  background-size: cover;
  background-attachment: fixed;
}

